body{
  font-family: 'open-sans', sans-serif !important;
  background: black !important;
  color: white;
}
a{
  color: #cda45e;
  text-decoration: none !important;
}
a:hover{
  color: #d9ba85;
  text-decoration: none !important;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'playfair display', serif;
}
body::-webkit-scrollbar{
  display: none;
}
section{
  padding: 60px 0;
  overflow: hidden;
}
.section-bg{
  background-color: #1a1a1a;
}